div(ng-controller='RepositoryCtrl as repository')
	md-subheader.repository-subheader.md-primary
		p docker pull {{repository.registryHost}}/{{repository.item.name}}{{repository.selectedTagName}}
	.md-padding(layout='row')
		.md-padding(layout='column' flex='70')
			md-toolbar(layout='row')
				.md-toolbar-tools
					span Information
					span(flex)
					md-button.md-icon-button(ng-click='repository.toggleEditMode()' aria-label='Toggle edit mode')
						ng-md-icon(icon='{{repository.editIcon}}' style='fill: #fff')
			md-content.md-padding(layout='column')
				div(ng-if='repository.item')
					p.text-gray(ng-if='!repository.item.description && !repository.editMode') No description
					md(ng-model='repository.item.description' ng-if='!repository.editMode')
					form(name='repositoryForm' ng-if='repository.editMode')
						md-input-container.md-block
							label Description
							textarea(ng-model='repository.item.description')
				div(layout='row' layout-fill layout-align='center center' ng-if='!repository.item')
					md-progress-circular(md-mode='indeterminate' md-diameter='100')
		.md-padding(layout='column' flex='30')
			md-toolbar(layout='row')
				.md-toolbar-tools
					span Tags
			md-content.md-padding(layout='column')
				div(ng-if='repository.tags')
					.repository-tags
						.tag(ng-repeat='tag in repository.tags' ng-if='!tag.purged' ng-click='repository.selectTag(tag)' ng-class='{selected: repository.selectedTagName === ":" + tag.name, deleted: tag.deleted}')
							span(ng-bind='tag.name')
							md-button.md-icon-button(ng-click='repository.delete(tag, $event)' aria-label='Delete tag' md-ink-ripple='false')
								ng-md-icon(icon='close' size='20')
				div(layout='row' layout-fill layout-align='center center' ng-if='!repository.tags')
					md-progress-circular(md-mode='indeterminate' md-diameter='100')